:root {
  --col-dark: rgb(39, 45, 53);
  --col-mid: rgb(126, 176, 241);
  --col-light: rgb(198, 222, 255);
  --col-lighter: rgb(202, 230, 255);
  --transp: rgba(0,0,0,0);
  --btn-fg-1: rgb(0, 0, 255);
  --btn-fg-1-h: hsl(180, 100%, 50%);
  --btn-bg-1: var(--transp);
  --btn-bg-1-h: var(--btn-fg-1);
  --btn-fg-2: rgb(133, 133, 133);
  --btn-fg-2-h: rgb(185, 185, 185);
  --btn-bg-2: var(--transp);
  --btn-bg-2-h: var(--btn-fg-2);
  --btn-fg-3: rgb(0, 172, 0);
  --btn-fg-3-h: rgb(68, 54, 54);
  --btn-bg-3: var(--transp);
  --btn-bg-3-h: var(--btn-fg-3);
  --btn-fg-4: rgb(255, 0, 0);
  --btn-fg-4-h: rgb(136, 84, 84);
  --btn-bg-4: var(--transp);
  --btn-bg-4-h: var(--btn-fg-4);
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.icon{
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.site_icon{
  background-color: inherit;
}

.btnIcon{
  background-color: inherit;
  border: none;
}

.fieldset {
  border: 1px solid black;
  width: 100%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.card{
  width: 98% !important;
  margin-left: 1%;
  height: 50vh !important;
}

.carousel-item{
  text-align: center;
}

.row div:first-child{
  z-index: 0;
}

#my-map{
  width:100%;
  height: 65vh;
  text-align: center;
  margin-bottom: 5vh;
  transition: border 1s;
  border: 3px solid black;
}

.rig:hover{
  background-color: white;
}

form dl{
  border: 1px solid gray;
  margin: 1% 0.5% 0.5% 0.5%;
  padding: 0.5%;
  box-sizing: border-box;
}


#my-map:hover{
  transition: border 1s;
  border: 3px solid rgb(0, 59, 185);
}

#tblAvvistamenti{
  color: black;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-collapse: collapse;
  border: none;
}


.tableFixHead {
  overflow-y: auto;
  height: 65vh;
  border: 3px solid black;
}


.tableFixHead:hover{
  transition: border 1s;
  border: 3px solid rgb(0, 59, 185);
}

table tr{
  max-height: 10vh;
}

table:hover tr{
  transition: border 1s;
  border-bottom: 1px solid rgb(0, 59, 185);
}

.tableFixHead thead th{
  vertical-align: middle;
  position: sticky;
  background-color: rgb(236, 249, 255);
  z-index: 1;
  top: 0px;
}

html#page-login body, html#page-signup body, html#page-homepage body, html#page-settings body, html#page-single body, html#page-privacy body {
  background-color: var(--col-lighter);
}

html#page-login, html#page-login body, html#page-settings, html#page-settings body, html#page-single, html#page-single body {
  height: 100%;
}

html#page-login body, html#page-settings body, html#page-single body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html#page-login main, html#page-settings main, html#page-single main{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html#page-signup header, html#page-login header {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--col-mid)), to(var(--transp)));
  background: linear-gradient(to bottom, var(--col-mid) 0%, var(--transp) 100%);
}

body > header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.image-wrapper {
  width: 10vw;
  height: 10vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 90px;
  max-height: 90px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.image-wrapper.wrapper-fixed-max {
  width: 90px;
  height: 90px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.image-wrapper.wrapper-fixed-min {
  width: 60px;
  height: 60px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

.image-wrapper-medium {
  width: 7.5vw;
  height: 7.5vw;
  min-width: 45px;
  min-height: 45px;
  max-width: 75px;
  max-height: 75px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.image-wrapper-medium.wrapper-fixed-max {
  width: 75px;
  height: 75px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.image-wrapper-medium.wrapper-fixed-min {
  width: 45px;
  height: 45px;
}

.image-wrapper-medium img {
  width: 100%;
  height: 100%;
}

.image-wrapper-small {
  width: 5vw;
  height: 5vw;
  min-width: 30px;
  min-height: 30px;
  max-width: 45px;
  max-height: 45px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.image-wrapper-small.wrapper-fixed-max {
  width: 45px;
  height: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.image-wrapper-small.wrapper-fixed-min {
  width: 30px;
  height: 30px;
}

.image-wrapper-small img {
  width: 100%;
  height: 100%;
}

.image-wrapper-tiny {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 35px;
  max-height: 35px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.image-wrapper-tiny.wrapper-fixed-max {
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.image-wrapper-tiny.wrapper-fixed-min {
  width: 20px;
  height: 20px;
}

.image-wrapper-tiny img {
  width: 100%;
  height: 100%;
}

.big-margin {
  margin-top: 4.5rem !important;
}

.nav.nav-pills .nav-link.nav-1 {
  border: unset;
  border-radius: 0;
  border-width: 3px;
  border-image-slice: 1;
  border-style: solid;
  background-color: var(--btn-bg-1);
  color: var(--btn-fg-1);
  border-image-source: linear-gradient(to top, var(--transp) 25%, var(--btn-fg-1) 25%, var(--btn-fg-1) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-1:first-child {
  border-image-source: linear-gradient(to bottom, var(--btn-fg-1) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-1:last-child {
  border-image-source: linear-gradient(to top, var(--btn-fg-1) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-1.nav-horizontal {
  border-image-source: linear-gradient(to left, var(--transp) 25%, var(--btn-fg-1) 25%, var(--btn-fg-1) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-1.nav-horizontal:first-child {
  border-image-source: linear-gradient(to right, var(--btn-fg-1) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-1.nav-horizontal:last-child {
  border-image-source: linear-gradient(to left, var(--btn-fg-1) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-1.active {
  background-color: var(--btn-bg-1-h);
  color: var(--btn-fg-1-h);
}

.nav.nav-pills .nav-link.nav-2 {
  border: unset;
  border-radius: 0;
  border-width: 3px;
  border-image-slice: 1;
  border-style: solid;
  background-color: var(--btn-bg-2);
  color: var(--btn-fg-2);
  border-image-source: linear-gradient(to top, var(--transp) 25%, var(--btn-fg-2) 25%, var(--btn-fg-2) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-2:first-child {
  border-image-source: linear-gradient(to bottom, var(--btn-fg-2) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-2:last-child {
  border-image-source: linear-gradient(to top, var(--btn-fg-2) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-2.nav-horizontal {
  border-image-source: linear-gradient(to left, var(--transp) 25%, var(--btn-fg-2) 25%, var(--btn-fg-2) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-2.nav-horizontal:first-child {
  border-image-source: linear-gradient(to right, var(--btn-fg-2) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-2.nav-horizontal:last-child {
  border-image-source: linear-gradient(to left, var(--btn-fg-2) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-2.active {
  background-color: var(--btn-bg-2-h);
  color: var(--btn-fg-2-h);
}

.nav.nav-pills .nav-link.nav-3 {
  border: unset;
  border-radius: 0;
  border-width: 3px;
  border-image-slice: 1;
  border-style: solid;
  background-color: var(--btn-bg-3);
  color: var(--btn-fg-3);
  border-image-source: linear-gradient(to top, var(--transp) 25%, var(--btn-fg-3) 25%, var(--btn-fg-3) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-3:first-child {
  border-image-source: linear-gradient(to bottom, var(--btn-fg-3) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-3:last-child {
  border-image-source: linear-gradient(to top, var(--btn-fg-3) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-3.nav-horizontal {
  border-image-source: linear-gradient(to left, var(--transp) 25%, var(--btn-fg-3) 25%, var(--btn-fg-3) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-3.nav-horizontal:first-child {
  border-image-source: linear-gradient(to right, var(--btn-fg-3) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-3.nav-horizontal:last-child {
  border-image-source: linear-gradient(to left, var(--btn-fg-3) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-3.active {
  background-color: var(--btn-bg-3-h);
  color: var(--btn-fg-3-h);
}

.nav.nav-pills .nav-link.nav-4 {
  border: unset;
  border-radius: 0;
  border-width: 3px;
  border-image-slice: 1;
  border-style: solid;
  background-color: var(--btn-bg-4);
  color: var(--btn-fg-4);
  border-image-source: linear-gradient(to top, var(--transp) 25%, var(--btn-fg-4) 25%, var(--btn-fg-4) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-4:first-child {
  border-image-source: linear-gradient(to bottom, var(--btn-fg-4) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-4:last-child {
  border-image-source: linear-gradient(to top, var(--btn-fg-4) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-4.nav-horizontal {
  border-image-source: linear-gradient(to left, var(--transp) 25%, var(--btn-fg-4) 25%, var(--btn-fg-4) 75%, var(--transp) 75%);
}

.nav.nav-pills .nav-link.nav-4.nav-horizontal:first-child {
  border-image-source: linear-gradient(to right, var(--btn-fg-4) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-4.nav-horizontal:last-child {
  border-image-source: linear-gradient(to left, var(--btn-fg-4) 50%, var(--transp) 50%);
}

.nav.nav-pills .nav-link.nav-4.active {
  background-color: var(--btn-bg-4-h);
  color: var(--btn-fg-4-h);
}

header h1 {
  font-weight: bold;
  font-variant: all-petite-caps;
}

a {
  text-decoration: none;
  color: inherit;
}

#iscrivitiP {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5em;
}

#iscrivitiImg {
  text-align: right;
}

#alert button, #alertC button {
  margin-right: 3%;
  border: none;
  background-color: inherit;
}

#alert button:hover, #alertC button:hover {
  background-color: white;
}

img.img-responsive {
  max-width: 100%;
  max-height: 400px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

legend {
  font-size: inherit;
}

#fset, #intset {
  display: inline-block;
}

textarea {
  background: #fff;
}

h3 {
  font-size: initial;
}

#divCommento {
  background-color: #f8f9fa;
}

#btnTop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.comLunghi {
  word-wrap: break-word;
  line-break: anywhere;
}

footer {
  clear: both;
}

footer img {
  max-width: 15%;
  min-width: 3%;
}

footer .footer-info {
  background-color: rgba(0, 0, 0, 0.2);
}